@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap') */

/* ****************************************** start of general */

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 101px 0 101px;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ****************************************** end of general */

/* ****************************************** start of PLP */

.gap-56 {
  gap: 40px;
}

.header {
  height: 80px;
}

.active {
  color: #5ece7b !important;
}

.active::before {
  position: absolute;
  content: " ";
  bottom: -32px;
  height: 2px;
  margin: 0 auto;
  width: 100%;
  background: #5ece7b;
}

.logo {
  width: 31.18px;
}

.cart-logo {
  width: 45px;
  padding-top: 5px;
}

.dollar-logo {
  width: 12px;
}

.vector-logo {
  transform: translateY(-20px);
  width: 12px;
  cursor: pointer;
  margin-right: 22px;
}
.dollar-vector {
  cursor: pointer;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-22 {
  padding-right: 22px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.header-item {
  max-width: 50px;
  text-decoration: none !important;
  color: inherit;
}

.grid {
  display: grid;
}

.quantity-bubble {
  position: absolute;
  top: 12px;
  right: 5px;
  text-align: center;
  display: block;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 15px;
  font-size: 10px;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.grid {
  display: grid;
}

.grid-center-all {
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.plp-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 40px;
}

.plp-img {
  object-fit: contain;
  max-height: 310px;
  max-width: 100%;
  padding-top: 16px;
  padding-bottom: 24px;
}

.plp-card {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  align-items: left;
  margin-bottom: 93px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  width: 386px;
  height: 444px;
}

.plp-card:hover {
  box-shadow: 0 0 20px 0px lightgrey;
  cursor: pointer;
}

.plp-card:hover .greenCart {
  visibility: visible;
}

.plp-title {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  margin-top: 6px;
}

.plp-price {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin-top: -18px;
}

.plp-header {
  padding-top: 38px;
  padding-bottom: 61px;
  font-size: 42px;
  font-weight: 600;
  line-height: 160%;
  color: #1d1f22;
}

.greenCart {
  visibility: hidden;
  width: 40px;
  border-radius: 50%;
  right: 31px;
  bottom: 87px;
}

/* ****************************************** end of PLP */

/* ****************************************** start of PDP */

.border-black {
  border: black solid 2px;
}

.border-green {
  border: green solid 2px;
}

.border-red {
  border: red solid 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: 9fr 6.5fr;
  grid-column-gap: 90px;
}

.mt-pdp {
  margin-top: 72.39px;
}

.pdp-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
}

.pdp-subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
  margin-top: 16px;
  margin-bottom: 16px;
}

.size-color-price {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1D1F22;
  margin-top: 24px;
}

.price {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #1D1F22;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  text-decoration: none;
  color: white;
  /* background: #5ECE7B; */
  padding: 16px 93.5px;

}

.add-to-cart-div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pdp-desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
  color: #1D1F22;
}

.size-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 45px;
  border: 1px solid #1D1F22;
  margin-right: 12px;
  cursor: pointer;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.size-boxes:hover {
  background-color: #1D1F22;
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}

.color-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #D3D2D5;
  margin-right: 10px;
  border: 1px solid #D3D2D5;
  cursor: pointer;
}

.color-boxes:hover {
  border: 1px solid #5ECE7B;
  cursor: pointer;
}

.pdp-left-container {
  display: grid;
  grid-template-columns: 2fr 13fr;
  grid-column-gap: 40px;
}

.pdp-sml-photos {
  width: 85px;
  height: 85px;
  margin-bottom: 32.39px;
  cursor: pointer;
}

.pdp-big-photo {
  width: 100%;
}

/* ****************************************** end of PDP */
/* ****************************************** start of CART */

.cart-categoty {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1D1F22;
  height: 55px;
}

.divider {
  background: #E5E5E5;
  margin-top: 55px;
}

.mt-80 {
  margin-top: 80px;
}

.cart-container {
  display: grid;
  grid-template-columns: 14.5fr 4.5fr;
}

.left-container-cart {
  margin-top: 24px;
  height: 288px;
}

.right-container-cart {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 24px;
  position: relative;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 288px;
  margin-top: 24px;
}

.quant-box {
  height: 45px;
  width: 45px;
  border: 1px solid #1D1F22;
  text-align: center;
  font-size: 2.2rem;
}

.quant {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #1D1F22;
}

.cart-img {
  margin-top: 24px;
  width: 200px;
  height: 288px;
  object-fit: cover;
}

.cart-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
}

.cart-subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
  margin-top: 16px;
}

.cart-price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1D1F22;
  margin-top: 20px;
}

.cart-size-color-price {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1D1F22;
  margin-top: 20px;
  margin-bottom: 8px;
}

.arrows-container {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 16px;
  margin-right: 16px;
}

.right-arrow {
  transform: rotate(180deg);
}

.arrow {
  cursor: pointer;
  border: rgba(0, 0, 0, 0.73) solid 1px;
  background-color: rgba(0, 0, 0, 0.73);
  padding: 5.62px 9px;
}

.divider-1 {
  background: #E5E5E5;
  margin-top: 32px;
}

.cart-bottom {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1D1F22;
}

.cart-bottom {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #1D1F22;
}

.cart-tax {
  margin-top: 32px;
}

.cart-quantity {
  margin-top: 8px;
  margin-bottom: 8px;
}

.cart-total {
  margin-bottom: 32px;
}

.cart-order {
  text-decoration: none;
  width: 279px;
  height: 43px;
  padding: 13px 115.5px;
  color: white;
  border: #5ECE7B solid 1px;
  background-color: #5ECE7B;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

/* ****************************************** end of CART */

/* ****************************************** start of MINI-CART */
.mini-cart-container {
  position: absolute;
  z-index: 10;
  background-color: white;
  right: 0;
  top: 80px;
  right: 72px;
  padding: 32px 16px;
}

.minicart-container {
  display: grid;
  grid-template-columns: 6fr 7fr;
  height: 190px;
  margin-top: 32px;
}

.minicart-categoty {
  padding-top: 32px !important;
}

.right-container-minicart {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 8px;
  position: relative;
}

.size-boxes-minicart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #1D1F22;
  margin-right: 12px;
  cursor: pointer;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.size-boxes-minicart:hover {
  background-color: #1D1F22;
  color: #fff;
}

.color-boxes-minicart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #D3D2D5;
  margin-right: 10px;
  border: 1px solid #D3D2D5;
  cursor: pointer;
}

.color-boxes-minicart:hover {
  border: 1px solid #5ECE7B;
}

.quant-box-minicart {
  height: 24px;
  width: 24px;
  border: 1px solid #1D1F22;
  text-align: center;
  font-size: 1.3rem;
}

.minicart-title {
  /* margin-bottom: 8px; */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #1D1F22;
}

.minicart-subtitle {
  /* margin-bottom: 8px; */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #1D1F22;
}

.minicart-price {
  margin-top: 4px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1D1F22;
}

.minicart-size-color-price {
  margin-top: 7px;
  margin-bottom: 8px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1D1F22;
}

.quant-minicart {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #1D1F22;
}

.quantity-minicart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 190px;
}

.minicart-img {
  width: 121px;
  height: 190px;
  object-fit: cover;
}

.minicart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
}

.minicart-checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewbag {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #1D1F22;
  background-color: #fff;
  border: #000 solid 1px;
  padding: 13px 29.5px;
}

.checkout {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  background-color: #5ECE7B;
  border: #5ECE7B solid 1px;
  padding: 13px 29.5px;
}

/* ****************************************** end of MINI-CART */
/* ****************************************** start of Currency */

.currency-container {
  position: absolute;
  z-index: 10;
  background-color: white;
  right: 0;
  top: 70px;
  right: 115px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 114px;
  text-align: center;
  box-shadow: 0 0 20px 0px lightgrey;
}

.currency-option {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 160%;
  color: #1D1F22;
  padding: 8px 0;
}

.currency-option:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

/* ****************************************** end of Currency */