@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 101px 0 101px;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-56 {
  gap: 40px;
}

.header {
  height: 80px;
}

.active {
  color: #5ece7b !important;
}

.active::before {
  position: absolute;
  content: " ";
  bottom: -32px;
  height: 2px;
  margin: 0 auto;
  width: 100%;
  background: #5ece7b;
}

.logo {
  width: 31.18px;
}

.cart-logo {
  width: 45px;
  padding-top: 5px;
}

.dollar-logo {
  width: 12px;
}

.vector-logo {
  width: 12px;
  cursor: pointer;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-22 {
  padding-right: 22px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.header-item {
  max-width: 50px;
  text-decoration: none !important;
  color: inherit;
}

.grid {
  display: grid;
}

.quantity-bubble {
  position: absolute;
  top: 12px;
  right: 5px;
  text-align: center;
  display: block;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 15px;
  font-size: 10px;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.grid {
  display: grid;
}

.grid-center-all {
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.plp-container {
  padding-left: 101px;
  padding-right: 101px;
}

.plp-img {
  min-width: 100%;
  padding-top: 16px;
  padding-bottom: 24px;
}

.plp-card {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  align-items: left;
  margin-bottom: 93px;
  padding-left: 16px;
  padding-right: 16px;
}

.plp-card:hover {
  box-shadow: 0 0 20px 0px lightgrey;
  cursor: pointer;
}

.plp-card:hover .greenCart {
  visibility: visible;
}

.plp-title {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  margin-top: 6px;
}

.plp-price {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin-top: -18px;
}

.plp-header {
  padding-top: 38px;
  padding-bottom: 61px;
  font-size: 42px;
  font-weight: 600;
  line-height: 160%;
  color: #1d1f22;
}

.greenCart {
  visibility: hidden;
  width: 40px;
  border-radius: 50%;
  right: 31px;
  bottom: 87px;
}
