@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');

/* ****************************************** start of general */

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 101px 0 101px;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ****************************************** end of general */

/* ****************************************** start of PLP */

.gap-56 {
  gap: 40px;
}

.header {
  height: 80px;
}

.active {
  color: #5ece7b !important;
}

.active::before {
  position: absolute;
  content: " ";
  bottom: -32px;
  height: 2px;
  margin: 0 auto;
  width: 100%;
  background: #5ece7b;
}

.logo {
  width: 31.18px;
}

.cart-logo {
  width: 45px;
  padding-top: 5px;
}

.dollar-logo {
  width: 12px;
}

.vector-logo {
  width: 12px;
  cursor: pointer;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-22 {
  padding-right: 22px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.header-item {
  max-width: 50px;
  text-decoration: none !important;
  color: inherit;
}

.grid {
  display: grid;
}

.quantity-bubble {
  position: absolute;
  top: 12px;
  right: 5px;
  text-align: center;
  display: block;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 15px;
  font-size: 10px;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.grid {
  display: grid;
}

.grid-center-all {
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.plp-container {
  padding-left: 101px;
  padding-right: 101px;
}

.plp-img {
  min-width: 100%;
  padding-top: 16px;
  padding-bottom: 24px;
}

.plp-card {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  align-items: left;
  margin-bottom: 93px;
  padding-left: 16px;
  padding-right: 16px;
}

.plp-card:hover {
  box-shadow: 0 0 20px 0px lightgrey;
  cursor: pointer;
}

.plp-card:hover .greenCart {
  visibility: visible;
}

.plp-title {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  margin-top: 6px;
}

.plp-price {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin-top: -18px;
}

.plp-header {
  padding-top: 38px;
  padding-bottom: 61px;
  font-size: 42px;
  font-weight: 600;
  line-height: 160%;
  color: #1d1f22;
}

.greenCart {
  visibility: hidden;
  width: 40px;
  border-radius: 50%;
  right: 31px;
  bottom: 87px;
}

/* ****************************************** end of PLP */

/* ****************************************** start of PDP */

.border-black {
  border: black solid 2px;
}

.border-green {
  border: green solid 2px;
}

.border-red {
  border: red solid 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: 9fr 6.5fr;
  grid-column-gap: 90px;
}

.mt-pdp {
  margin-top: 72.39px;
}

.pdp-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
}

.pdp-subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
  margin-top: 16px;
  margin-bottom: 16px;
}

.size-color-price {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1D1F22;
  margin-top: 24px;
}

.price {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #1D1F22;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  text-decoration: none;
  color: white;
  background: #5ECE7B;
  padding: 16px 93.5px;

}

.add-to-cart-div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pdp-desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
  color: #1D1F22;
}

.size-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 45px;
  border: 1px solid #1D1F22;
  margin-right: 12px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.size-boxes:hover {
  background-color: #1D1F22;
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}

.color-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #D3D2D5;
  margin-right: 10px;
  border: 1px solid #D3D2D5;
}

.color-boxes:hover {
  border: 1px solid #5ECE7B;
  cursor: pointer;
}

.pdp-left-container {
  display: grid;
  grid-template-columns: 2fr 13fr;
  grid-column-gap: 40px;
}

.pdp-sml-photos {
  width: 85px;
  height: 85px;
  margin-bottom: 32.39px;
  cursor: pointer;
}

.pdp-big-photo {
  width: 100%;
}

/* ****************************************** end of PDP */